{% extends 'base.jinja2' %}
{% import 'macros.jinja2' as macros %}

{% block body %}
	{{ macros.editor("/admin/post", "", "") }}

	{% for post in posts %}
		{{ macros.render_post(post, True, False) }}
	{% endfor %}

	<p>
		<a href="/admin/generate">generate static version</a>
		<a href="/admin/logout">logout</a>
	</p>
{% endblock body %}
