{% extends 'base.jinja2' %}

{% block body %}
	<form method="post" action="/admin/post">
		<input type="text" name="title" placeholder="title">
		<br>
		<textarea name="body"></textarea>
		<br>
		<input type="submit">
	</form>

	{% for post in posts %}
		<h2><a href="/post/{{ post.id }}/{{ post.title|slug }}">{{ post.title }}</a></h2>
		<a href="/admin/post/{{ post.id }}/edit">edit</a>
		<form method="post" action="/admin/post/{{ post.id }}/draft">
			<input type="hidden" name="status" value="{% if post.draft %}0{% else %}1{% endif %}">
			<input type="submit" value="{% if post.draft %}publish{% else %}draft{% endif %}">
		</form>
		by {{ post.username }}
		<blockquote>{{ post.body }}</blockquote>
	{% endfor %}

	<p>
		<a href="/admin/logout">logout</a>
	</p>
{% endblock body %}
