{% extends 'base.jinja2' %}

{% block head %}
	<link rel="stylesheet" href="/css/admin.css">
{% endblock head %}

{% block nav %}
	<header class="admin">
		<h1><a href="/">{{ title }}</a></h1>
		<div>
			<a href="/admin">admin</a>
			<a href="/admin/post">new post</a>
			<a href="/admin/settings">settings</a>
			<a href="/admin/users">users</a>
			<a href="/admin/generate">generate static version</a>
			<a href="/admin/logout">logout</a>
		</div>
	</header>
{% endblock nav %}
