<!DOCTYPE html>
<html>
<head>
	<title>{{ title|escape }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#222">
	<link rel="alternate" type="application/atom+xml" title="{{ title|escape }}" href="/feed.atom">
	<link rel="stylesheet" href="/css/base.css">
	{% block head %}{% endblock head %}
</head>
<body>
	{% block nav %}
		<header>
			<div>
				<h1><a href="/">{{ title }}</a></h1>
			</div>
			<a href="/feed.atom">feed</a>
			<a href="/admin">admin</a>
		</header>
	{% endblock nav %}
	<main>
		{% block body %}{% endblock body %}
	</main>
</body>
</html>
