<!DOCTYPE html>
<html>
<head>
	<title>levelwig</title>
	<link rel="stylesheet" href="/css/base.css">
	{% block head %}{% endblock head %}
</head>
<body>
	{% block nav %}
		<header>
			<div>
				<h1><a href="/">Blog</a></h1>
			</div>
			<a href="/admin">admin</a>
		</header>
	{% endblock nav %}
	<main>
		{% block body %}{% endblock body %}
	</main>
</body>
</html>
