{% extends 'base.jinja2' %}
{% import 'macros.jinja2' as macros %}

{% block body %}
	<h2>you are about to delete:</h2>
	{{ macros.render_post(post, False, True) }}
	<form method="post" action="/admin/post/{{ post.id }}/delete">
		<input type="submit" name="_" value="delete">
	</form>

	<p>
		<a href="/admin">back</a>
	</p>
{% endblock body %}
