{% extends 'base.jinja2' %}
{% import 'macros.jinja2' as macros %}

{% block body %}
	editing
	{{ macros.editor("/admin/post/{{ post.id }}/edit", post.title, post.body) }}

	<p>
		<a href="/admin">back</a>
	</p>
{% endblock body %}
