{% extends 'base.jinja2' %}
{% import 'macros.jinja2' as macros %}

{% block body %}
	{{ macros.editor("/admin/post/{{ post.id }}/edit", "fullpage", post.title, post.body, "save") }}
{% endblock body %}
