{% extends 'base.jinja2' %}

{% block body %}
	{% for post in posts %}
		<article>
			<h2><a href="/post/{{ post.id }}/{{ post.title|slug }}">{{ post.title }}</a></h2>
			on {{ post.date }} by {{ post.username }}
			<blockquote>{{ post.body|markdown }}</blockquote>
		</article>
	{% endfor %}
{% endblock body %}
